.buttonsWrapper {
  display: flex;
}

.dataIncomeWrapper {
  width: 100%;
  max-width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  color: rgb(92, 91, 91);
  border-radius: var(--with-radius);
  padding: 20px 30px;
}

.dataIncomeWrapper .dataWrapper {
  border: 1px solid rgb(216, 212, 212);
  border-radius: var(--with-radius);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}

.buttonsWrapper button {
  margin: 0 10px 0 0;
}
